[[source]]
verify_ssl = true
name = "novel-downloader"

[packages]
pdfkit = "*"
requests = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"

